In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('vehicles-florida2.csv')

In [4]:
df.head()

,region,price,year,manufacturer,Domestic,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color
0,space coast,6000,2004,ford,1,good,8 cylinders,gas,85841,manual,rwd,mid-size,coupe,orange
1,space coast,7650,2012,honda,0,good,4 cylinders,gas,112000,manual,fwd,mid-size,sedan,black
2,space coast,9850,2010,lincoln,1,good,6 cylinders,gas,129960,automatic,4wd,full-size,SUV,silver
3,space coast,12500,2015,kia,0,good,4 cylinders,gas,97185,automatic,rwd,full-size,SUV,silver
4,space coast,7500,2005,mercedes-benz,0,excellent,6 cylinders,gas,63500,automatic,rwd,full-size,wagon,silver